.header-site{
    background: url("../images/bg\ top.png");
    width: 100%;
}

.header-site h1{
    display: inline-block;
    padding-left: 25px;
}

.header-site h1 img{
    width: 300px;
    height: 148px;
    padding: 20px;
}

.nav-login{
    position: absolute;
    width: 400px;
    right: 0;
    top: 10%;
    color: white;
}

#login{
    background-color: #033666;
    padding: 2px 4px;
    border-radius: 5px;
}

.menu-navegação{
    width: 100%;
    display: block;
    background: #033666;
    height: 40px;
}

.menu-navegação nav{
    margin-left: 30px;
}

.menu-navegação nav a{
    padding: 10px;
    color: white;
    background: #1E69AE;
    position: relative;
    top: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.barra-de-pesquisa{
    position: absolute;
    top: 196px;
    width: 330px;
    height: 30px;
    right: 0;
    margin-right: 30px;
    border-radius: 10px;
    border-style: none;
}

.banner-promocao{
    width: 95%;
    display: flex;
    margin: 30px auto;
}

.produtos{
    text-align: center;
    
}

.produtos li{
    justify-content: space-between;
    display: inline-block; 
    border: black solid 2px;
    border-radius: 5px;
    margin: 15px 45px;
}

.produtos p{
    text-align: center;
    background-color: purple;
    padding: 10px 5px;
    color: white;
    text-transform: uppercase;
}


.barra{
    display: block;
    width: 100%;
    background: #1E69AE;
    height: 20px;
}
.info-footer{
    display: block;
    background: #033666;
    width: 100%;
    height: 200px;
}

.informações{
    float: left;
    margin: 40px 15%;
    width: 800px;
    background-color: #1E69AE;
}

.informações p{
    width: 40%;
    display: block;
}

.informações ul{
    display: block;
    width: 40%;
}

h3{
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
}

h4{
    display: inline-block;
    width: 50%;
    position: absolute;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}

.informações{
    width: 70%;
}

