.header-site{
    background: url("../images/bg\ top.png");
    width: 100%;
}

.header-site h1{
    display: inline-block;
    padding-left: 25px;
}

.header-site h1 img{
    width: 300px;
    height: 148px;
    padding: 20px;
}

.nav-login{
    position: absolute;
    width: 457px;
    height: 104px;
    left: 70%;
    top: 16%;
    color: white;

}

.menu-navegação{
    width: 100%;
    display: inline-flex;
    background: #033666;
    height: 40px;
}

.menu-navegação nav a{
    padding: 0 5px;
    color: white;
    background: #1E69AE;
    
}

.barra-de-pesquisa{
    position: absolute;
    top: 196px;
    height: 30px;
    left: 86%;
    border-radius: 10px;
    border-style: none;
}

